---
import Layout from './Layout.astro'
import LabelCom from '@components/Label.vue'
import Prose from "@components/Prose.astro";
import { categories } from '@data/category'
import { Image } from 'astro:assets'
import { getFormattedDate } from '@utils/index'
import avatarImg from '../assets/Monkey_D_Luffy.png'

interface Props {
  frontmatter: {
    title: string
    pubDate: Date
    description: string
    author: string
    category: string
    tags: string[]
    minutesRead: string
    image?: {
      cover: ImageMetadata
      alt: string
    }
  }
}

const { frontmatter } = Astro.props
const cateogryItem = categories.find((item) => item.title === frontmatter.category)

---

<Layout title={frontmatter.title}>
  <Prose>
    <div class="text-center not-prose">
      <LabelCom theme={cateogryItem?.color}>{frontmatter.category}</LabelCom>
    </div>

    <h1 class="post__title"> {frontmatter.title}</h1>
    <p class="post__descr"><b>{frontmatter.description}</b></p>
    <div class="not-prose text-gray-500 mb-5 mt-3 flex justify-center space-x-3">
      <div class="flex items-center gap-3">
        <div class="relative h-10 w-10 flex-shrink-0">
          <a href="/about" target="_blank">
            <Image src={avatarImg} alt="monkey d luffy" class="rounded-full" />
          </a>
        </div>

        <div >
          <div class="text-gray-800 dark:text-white"> <a href="/about" target="_blank">{frontmatter.author}</a></div>
          <div class="flex items-center space-x-2 text-sm">
            <time class="text-gray-500 dark:text-white" datetime={frontmatter.pubDate.toDateString()}>
              {getFormattedDate(frontmatter.pubDate.toDateString())}
            </time>
            <span class="text-gray-500 dark:text-white">
              &bullet; {frontmatter?.minutesRead}
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="post__cover not-prose">
      <img src={frontmatter.image?.cover.src} alt={frontmatter.image?.alt} />
    </div> -->

    <div class="post__tags not-prose">
      {
        frontmatter.tags.map((tag) => (
          <p class="post__tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <slot />
  </Prose>
</Layout>

<script>
  import '../scripts/copy-code.ts'
</script>

<style scoped lang="scss">
  .post {
    &__title {
      @apply dark:text-white mb-3 mt-2 text-center text-3xl font-semibold tracking-tight lg:text-4xl lg:leading-snug;
    }
    &__descr {
      @apply indent-8 font-light text-sm xl:text-base leading-relaxed text-neutral-500 dark:text-white;
    }
    &__meta-info {
      @apply mb-2 flex items-center gap-1 text-sm text-gray-400 dark:text-white;
    }
    &__cover {
      @apply mb-2;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: 100%;
        height: auto;
        font-size: 0;
        max-height: 200px;
        object-position: center;
        object-fit: cover;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      @apply mb-5;
    }

    &__tag {
      margin: 4px;
      border-radius: 999px;
      @apply px-4 py-1 text-sm bg-amber-500 hover:bg-amber-600 uppercase cursor-pointer;
    }
    &__divider {
      width: 1px;
      background-color: #666;
      height: 12px;
    }
  }
</style>
