---
import Layout from './Layout.astro'
import LabelCom from '@components/Label.vue'
import Prose from "@components/Prose.astro";
import { categories } from '@data/category'
import { Image } from 'astro:assets'
import { getFormattedDate } from '@utils/index'

interface Props {
  frontmatter: {
    title: string
    pubDate: Date
    description: string
    author: string
    category: string
    tags: string[]
    minutesRead: number
    image?: {
      url: string
      alt: string
    }
  }
}

const { frontmatter } = Astro.props
const cateogryItem = categories.find((item) => item.title === frontmatter.category)

---

<Layout title={frontmatter.title}>
  <Prose>
    <div class="text-center not-prose">
      <LabelCom theme={cateogryItem?.color}>{frontmatter.category}</LabelCom>
    </div>

    <h1 class="post__title"> {frontmatter.title}</h1>
    <!-- <p class="post__descr"><b>{frontmatter.description}</b></p> -->
    <div class="text-gray-500 mb-5 mt-3 flex justify-center space-x-3">
      <div class="flex items-center gap-3">
        <div class="relative h-10 w-10 flex-shrink-0">
          {
            (
              <Image
                src={'https://lh3.googleusercontent.com/a/ACg8ocJcSEQVobcMZ6neYsB-iOuL1BcAr-P0f73gmlqcSh1s=s576-c-no'}
                alt="Author Photo"
                width={80}
                height={80}
                loading="eager"
                class="rounded-full not-prose"
              />
            )
          }
        </div>

        <div class="not-prose">
          <div class="text-gray-800 dark:text-gray-400"> Wayne</div>
          <div class="flex items-center space-x-2 text-sm">
            <time class="text-gray-500 dark:text-gray-400" datetime={frontmatter.pubDate.toDateString()}>
              {getFormattedDate(frontmatter.pubDate.toDateString())}
            </time>
            <span>
              · {frontmatter?.minutesRead}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="post__cover not-prose">
      <img src={frontmatter.image?.url} alt={frontmatter.image?.alt} />
    </div>

    <div class="post__tags not-prose">
      {
        frontmatter.tags.map((tag) => (
          <p class="post__tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <slot />
  </Prose>
</Layout>

<style lang="scss">
  .post {
    &__title {
      @apply dark:text-white mb-3 mt-2 text-center text-3xl font-semibold tracking-tight lg:text-4xl lg:leading-snug;
    }
    &__descr {
      @apply text-center text-sm;
      color: #999;
    }
    &__meta-info {
      @apply mb-2 flex items-center gap-1 text-sm;
      color: #999;
    }
    &__cover {
      @apply mb-2;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: 100%;
        height: auto;
        font-size: 0;
        max-height: 200px;
        object-position: center;
        object-fit: cover;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      @apply mb-5;
    }

    &__tag {
      margin: 4px;
      border-radius: 999px;
      @apply px-4 py-1 text-sm bg-sky-300 hover:bg-sky-400 uppercase cursor-pointer;
    }
    &__divider {
      width: 1px;
      background-color: #666;
      height: 12px;
    }
  }
</style>
