---
import Layout from './Layout.astro'

interface Props {
  frontmatter: {
    title: string;
    pubDate: Date;
    description: string;
    author: string;
    tags: string[],
    image: {
      url: string;
      alt: string
    }
  }
}

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} >
  <h1 class="post__title" transition:animate="slide"> {frontmatter.title}</h1>
  <p class="post__descr"><b>{frontmatter.description}</b></p>
  <div class="post__meta-info">
    发布日期：<span class="post__pub-date">{frontmatter.pubDate && frontmatter.pubDate.toLocaleDateString()}</span>
  </div>
  <div class="post__cover">
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  </div>

  <div class="post__tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="post__tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</Layout>

<style lang="scss">
  .post {
    &__title {
      font-size: 32px;
    }
    &__descr {
      @apply text-sm;
      color: #999;
    }
    &__meta-info {
      @apply text-sm flex gap-1 mb-2 items-center;
      color: #999;
    }
    &__cover{
      @apply mb-2;
      overflow: hidden;
      border-radius: 8px;
      img {
        width: 100%;
        height: auto;
        font-size: 0;
        max-height: 200px;
        object-position: center;
        object-fit: cover;
      }
    }
    &__tags {
      display: flex;
      flex-wrap: wrap;
      color: #fff;
      @apply mb-5;
    }

    &__tag {
      margin: 4px;
      border-radius: 999px;
      background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
      @apply text-sm px-4 py-2;
    }
    &__divider{
      width: 1px;
      background-color: #666;
      height: 12px;
    }
  }
</style>